<div class="container-fluid">

    <div class="row">


        <div class="col-sm-12 col-md-6">

            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Service Type</th>
                    <th scope="col">No of Appointments</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>Interior Cleaning</td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option value="5" selected>5</option>
                            <option value="10" >10</option>
                            <option value="15" >15</option>
                            <option value="20" >20</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>Interior Cleaning</td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option value="5" selected>5</option>
                            <option value="10" >10</option>
                            <option value="15" >15</option>
                            <option value="20" >20</option>
                        </select>
                    </td>
                </tr>
                <tr>

                    <td>Interior Cleaning</td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option value="5" selected>5</option>
                            <option value="10" >10</option>
                            <option value="15" >15</option>
                            <option value="20" >20</option>
                        </select>
                    </td>

                </tr>
                </tbody>

                <tfoot>
                <tr class="">
                    <td colspan="2">
                        <button type="button" class="btn btn-warning"> UPDATE</button>
                        <button type="button" class="btn btn-success"> SAVE</button>
                    </td>

                </tr>
                </tfoot>
            </table>

        </div>

    </div>
</div>
