<div class="container-fluid">

    <div class="row">


        <div class="col-sm-12 col-md-12">
            <div class="row">
                <label for="report_type" class="ml-2 mr-1">Daily Report</label>

                <input class="form-control col-md-2 form-control-sm mr-1" type="date">

                <select class="form-control form-control-sm col-md-4 mr-1">
                    <option value="1" selected>Transaction Summary</option>
                    <option value="2">Service Type Summary</option>
                    <option value="3">Completed Service Summary</option>
                </select>

                <button type="button" class="btn btn-info col-md-2 btn-sm">CREATE REPORT</button>

            </div>
        </div>

        <div class="col-sm-12 col-md-12  mt-3">

            <div class="row">
                <div class="card m-1" style="width: 18rem;">
                    <div class="card-header bg-dark text-white">
                        Transactions
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>

                <div class="card m-1" style="width: 18rem;">
                    <div class="card-header bg-dark text-white">
                        Service Types
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>

                <div class="card m-1" style="width: 18rem;">
                    <div class="card-header bg-dark text-white">
                        Service Completed
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>

            </div>
        </div>


    </div>
</div>
