<div class="row m-3">
    <div class="col-sm-12 col-md-7 ">

        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">Service Type</th>
                <th scope="col" class="text-center">No of Count(MONTHLY)</th>
                <th scope="col">Charge(MONTHLY)</th>
                <th scope="col">Total(MONTHLY)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Interior Cleaning</td>
                <td class="text-center">10</td>
                <td>4500.00</td>
                <td>45000.00</td>
            </tr>

            <tr>
                <td>Interior Cleaning</td>
                <td class="text-center">10</td>
                <td>4500.00</td>
                <td>45000.00</td>
            </tr>

            <tr>
                <td>Interior Cleaning</td>
                <td class="text-center">10</td>
                <td>4500.00</td>
                <td>45000.00</td>
            </tr>

            <tr>
                <td>Interior Cleaning</td>
                <td class="text-center">10</td>
                <td>4500.00</td>
                <td>45000.00</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="col-md-5">
        <b class="mb-2">Monthly Service Reports</b>
        <div class="mb-2">
            <input type="date" class="form-control" placeholder="Date">
        </div>

        <select class="form-control" id="reportType">
            <option selected value="Service Report">Service Report</option>
            <option value="Customer Report">Customer Report</option>
            <option value="Employee Report">Employee Report</option>
            <option value="Vehicle Report">Vehicle Report</option>
            <option value="Vehicle Report">Appointment Report</option>
        </select>
        <button type="button" class="btn btn-success btn-sm mt-2">GENERATE REPORT</button>
    </div>
</div>
