<div class="row justify-content-end mr-3">
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Vehicle No / App No">
    </div>
</div>
<div class="card m-3 bg-light bg-gradient">
    <h5 class="card-header">Vehicle No: <i>BDS-2524</i></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills card-header-pills m-1">
                    <li class="mr-1"><b>Vehicle Type : </b><i>VAN</i></li>
                    <li class="mr-1"><b>Time : </b><i>11.00 AM</i></li>
                    <li class="mr-1"><b>Service Type : </b><i>Interior cleaning</i></li>
                    <li class="mr-1"><b>Status :</b><i>Finished</i></li>
                </ul>
            </div>
            <div class="col-md-9 row">
                <div class="col-md-3">
                    <div class="card" style="align-items: center">
                        <img src="../../img/pdflogo.png" class="card-img-top" alt=""
                             style="max-width: 50%;min-height: 50%;">
                        <div class="card-body">
                            <button type="button" class="btn btn-info btn-sm">SERVICE REPORT</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>PAYMENT STATUS</b>
                    <select class="form-control" id="paymentStatus">
                        <option selected value="PAID ONLINE">PAID ONLINE</option>
                        <option value="CASH PAYMENT">CASH PAYMENT</option>
                    </select>
                    <button type="button" class="btn btn-success btn-sm mt-2">GENERATE INVOICE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card m-3 bg-light bg-gradient">
    <h5 class="card-header">Vehicle No: <i>BDS-2524</i></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills card-header-pills m-1">
                    <li class="mr-1"><b>Vehicle Type : </b><i>VAN</i></li>
                    <li class="mr-1"><b>Time : </b><i>11.00 AM</i></li>
                    <li class="mr-1"><b>Service Type : </b><i>Interior cleaning</i></li>
                    <li class="mr-1"><b>Status :</b><i>Finished</i></li>
                </ul>
            </div>
            <div class="col-md-9 row">
                <div class="col-md-3">
                    <div class="card" style="align-items: center">
                        <img src="../../img/pdflogo.png" class="card-img-top" alt=""
                             style="max-width: 50%;min-height: 50%;">
                        <div class="card-body">
                            <button type="button" class="btn btn-info btn-sm">SERVICE REPORT</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>PAYMENT STATUS</b>
                    <select class="form-control" id="paymentStatus">
                        <option selected value="PAID ONLINE">PAID ONLINE</option>
                        <option value="CASH PAYMENT">CASH PAYMENT</option>
                    </select>
                    <button type="button" class="btn btn-success btn-sm mt-2">GENERATE INVOICE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card m-3 bg-light bg-gradient">
    <h5 class="card-header">Vehicle No: <i>BDS-2524</i></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills card-header-pills m-1">
                    <li class="mr-1"><b>Vehicle Type : </b><i>VAN</i></li>
                    <li class="mr-1"><b>Time : </b><i>11.00 AM</i></li>
                    <li class="mr-1"><b>Service Type : </b><i>Interior cleaning</i></li>
                    <li class="mr-1"><b>Status :</b><i>Finished</i></li>
                </ul>
            </div>
            <div class="col-md-9 row">
                <div class="col-md-3">
                    <div class="card" style="align-items: center">
                        <img src="../../img/pdflogo.png" class="card-img-top" alt=""
                             style="max-width: 50%;min-height: 50%;">
                        <div class="card-body">
                            <button type="button" class="btn btn-info btn-sm">SERVICE REPORT</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>PAYMENT STATUS</b>
                    <select class="form-control" id="paymentStatus">
                        <option selected value="PAID ONLINE">PAID ONLINE</option>
                        <option value="CASH PAYMENT">CASH PAYMENT</option>
                    </select>
                    <button type="button" class="btn btn-success btn-sm mt-2">GENERATE INVOICE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card m-3 bg-light bg-gradient">
    <h5 class="card-header">Vehicle No: <i>BDS-2524</i></h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills card-header-pills m-1">
                    <li class="mr-1"><b>Vehicle Type : </b><i>VAN</i></li>
                    <li class="mr-1"><b>Time : </b><i>11.00 AM</i></li>
                    <li class="mr-1"><b>Service Type : </b><i>Interior cleaning</i></li>
                    <li class="mr-1"><b>Status :</b><i>Finished</i></li>
                </ul>
            </div>
            <div class="col-md-9 row">
                <div class="col-md-3">
                    <div class="card" style="align-items: center">
                        <img src="../../img/pdflogo.png" class="card-img-top" alt=""
                             style="max-width: 50%;min-height: 50%;">
                        <div class="card-body">
                            <button type="button" class="btn btn-info btn-sm">SERVICE REPORT</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>PAYMENT STATUS</b>
                    <select class="form-control" id="paymentStatus">
                        <option selected value="PAID ONLINE">PAID ONLINE</option>
                        <option value="CASH PAYMENT">CASH PAYMENT</option>
                    </select>
                    <button type="button" class="btn btn-success btn-sm mt-2">GENERATE INVOICE</button>
                </div>
            </div>
        </div>
    </div>
</div>
\

