<div class="row ml-2 mr-2">
    <div class="col-md-6 mb-3">

        <div class="card bg-light bg-gradient" style="cursor: pointer">
            <img src="../../img/1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehicle No: <i>BDS-2524</i></h5>
                <p class="card-text">Price : 2500000LKR</p>
                <p class="card-text">25866 KM</p>
                <p class="card-text">25866 KM</p>
                <p class="text-muted">2022-10-15</p>

            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">

        <div class="card bg-light bg-gradient" style="cursor: pointer">
            <img src="../../img/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehicle No: <i>BDS-2524</i></h5>
                <p class="card-text">Price : 2500000LKR</p>
                <p class="card-text">25866 KM</p>
                <p class="card-text">25866 KM</p>
                <p class="text-muted">2022-10-15</p>

            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">

        <div class="card bg-light bg-gradient" style="cursor: pointer">
            <img src="../../img/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehicle No: <i>BDS-2524</i></h5>
                <p class="card-text">Price : 2500000LKR</p>
                <p class="card-text">25866 KM</p>
                <p class="card-text">25866 KM</p>
                <p class="text-muted">2022-10-15</p>

            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">

        <div class="card bg-light bg-gradient" style="cursor: pointer">
            <img src="../../img/8_Toyota-C-HR.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehicle No: <i>BDS-2524</i></h5>
                <p class="card-text">Price : 2500000LKR</p>
                <p class="card-text">25866 KM</p>
                <p class="card-text">25866 KM</p>
                <p class="text-muted">2022-10-15</p>

            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">

        <div class="card bg-light bg-gradient" style="cursor: pointer">
            <img src="../../img/1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehicle No: <i>BDS-2524</i></h5>
                <p class="card-text">Price : 2500000LKR</p>
                <p class="card-text">25866 KM</p>
                <p class="card-text">25866 KM</p>
                <p class="text-muted">2022-10-15</p>

            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">

        <div class="card bg-light bg-gradient" style="cursor: pointer">
            <img src="../../img/8_Toyota-C-HR.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vehicle No: <i>BDS-2524</i></h5>
                <p class="card-text">Price : 2500000LKR</p>
                <p class="card-text">25866 KM</p>
                <p class="card-text">25866 KM</p>
                <p class="text-muted">2022-10-15</p>

            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal
    </button>
    {{>emp_sell_vehicle_detail}}
</div>


