<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body class="main-body">


<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid" style="margin-top: 140px">

    <div class="row">

        <div class="col-xs-12 col-md-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-system-tab" href="/admin/dashboard/system"
                       data-toggle="tab" role="tab" aria-controls="nav-system" aria-selected="false">System</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" href="/admin/dashboard/employee"
                       aria-controls="nav-profile" aria-selected="false">Employee</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" href="/admin/dashboard/appointment">Appointment</a>
                    <a class="nav-item nav-link" id="nav-about-tab" href="/admin/dashboard/service" >Services</a>
                    <a class="nav-item nav-link" id="nav-about-tab" href="/admin/dashboard/summary">Summary</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-system" role="tabpanel"
                     aria-labelledby="nav-system-tab">
                   <h1>System 1</h1>
                </div>
                <!--                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">-->
                <!--                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat-->
                <!--                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.-->
                <!--                    Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim-->
                <!--                    non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor-->
                <!--                    ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore.-->
                <!--                    Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.-->
                <!--                </div>-->
                <!--                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">-->
                <!--                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat-->
                <!--                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.-->
                <!--                    Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim-->
                <!--                    non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor-->
                <!--                    ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore.-->
                <!--                    Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.-->
                <!--                </div>-->
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>
